.mainHeader{
    text-align: center;
    font-size: 30px;
        font-weight: 600;
        background-image: linear-gradient(to right, #553c9a 20%, #ee4b2b);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
}
.story{
    text-align: left;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.navBar {
    padding: 20em 0;
    text-align: center;
    background-color: #efefef;
    font-size: .8em;
    color: #444;
    position:relative
  }
  .navBar a {
    color: #f3efef;
    text-decoration: none;
  }
.navBar a:hover {
    color: #222;
  }
  
  .navBar nav{
    position:absolute;
    top:0;
    left:0;
    background:#222;
    width:100%
  }
  .navBar nav a{
    padding:10px 200px;
    font-size:1.3em;
    display:inline-block
  }
  .navBar nav a:hover{
    background:#333;
    color:#fff
  }
  .thanks{
    font-size: 30;
    text-align: center;
  }