.button {
    
    color: rgb(0, 0, 0);
    border: none;
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 300px;
    height: 150px;
}

/*individually set the backround images of the buttons*/
#button1{
    background-image: url('https://th.bing.com/th/id/OIG.Yy.SRqEjXeAr2vFZuxRi?w=270&h=270&c=6&r=0&o=5&pid=ImgGn'); 
    background-size: 300px; 
}

#button2{
    background-image: url('https://www.leifiphysik.de/sites/default/files/images/82359b6a861c0f6e22ac36d3f8ff3a63/0Crashtest_Newton_Grundwissen.webp');
    background-size: 400px; 
    color: azure;
}

#button3{
    background-image: url('https://www.leifiphysik.de/sites/default/files/images/0178084bacd92cf2ba2816e59dffad37/311Wechselwirkungskr%C3%A4fte_1_Grundwissen.png'); 
    background-size: 300px; 
}

#button4{
    background-image: url('backround.jpg'); 
    background-size: 300px; 
}

#button5{
    background-image: url('backround.jpg'); 
    background-size: 300px; 
}

#button6{
    background-image: url('backround.jpg');
    background-size: 300px; 
}

.button:hover {
    color: rgb(100, 12, 12);
    font-size: 22px;
    opacity: 0.8;
    width: 302px;
    height: 152px;
}

.quiz{
    text-align: center;
    margin-top: auto;
}
h2 {
    font-family: Arial, sans-serif;
    font-size: 30px;
    color: #333;
    text-align: center;
}