.eingabe {
    display: flex;
    justify-content: center;
    align-items: right;
    margin-top: 70px;
    height: 100vh;
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.row {
    display: flex;
    gap: 10px;
}
input {
    padding: 5px;
}
.instruction{
    text-align: left;
    margin-top: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;

}

h2{
    text-align: center;
    font-size: 45px;
        font-weight: 600;
        background-image: linear-gradient(to right, #553c9a 20%, #ee4b2b);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
}
.vid{
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}